@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
*{
    font-family: 'Harmattan', sans-serif;
}

body{
    background-color:#203051;
}

.home{
    text-align: center;
}
.box{
    background-color: whitesmoke;
    width: auto;
    position: relative;
    top: 200px;
    border-radius: 12px;
}
#demo{
    border: 1px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 105px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
img{
    margin:5px auto;
    border: 2px #002879 solid;
    border-radius: 60%;
    height: 100px;
    width: 100px;
}

/*-------------------------------------------*/

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #switch:checked ~ .outer{
    background: #1a2844;
    border-radius: 12px;
  }

  #switch:checked ~ .outer .p1{
    color: #ffffff;
  }
  .outer .toggle{
    position: absolute;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #65686b;
    right: 15px;
    top: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #switch:checked ~ .outer .toggle{
    background: #fff;
  }
  .outer .toggle .circle{
    margin-left: 3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.3s ease;
  }
  #switch:checked ~ .outer .circle{
    margin-left: 22px;
    background: #1e1e1e;
  }
  .content button:hover{
    animation: bounce 0.9s infinite; 
    background-color: #6bb7ff;
  }
  #switch:checked ~ .outer button{
    background: #1e1e1e;
    color: #092c3e;
  }
  #switch{
    display: none;
  }
  
