@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');
*{
    font-family: 'Harmattan', sans-serif;
    text-align: center;
}

body{
    background-color:#203051;
}

.box{
    margin:auto;
    justify-content: center;
    background-color: whitesmoke;
    width: auto;
    position: relative;
    top: 200px;
    border-radius: 12px;
}

img{
    margin:5px auto;
    border: 2px #002879 solid;
    border-radius: 60%;
    height: 100px;
    width: 100px;
}