@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

body{
    background-color: slateblue;
}

.box{
    background-color: aliceblue;
    height: 500px;
    width: auto;
    margin: 9% auto ;
    justify-content: center;
}

.fquiz{
    border: 1px black solid;
}